body {
  padding: 0px;
  background-color: beige;
  margin: 0px;
  padding-top: 0px;
  color: #2e84c3;
  font: 14px "Lobster", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #2e84c3;
  margin-left: 50px;
}

.us {
  font-size: 78px;
  margin: 8px;
}

#info {
  padding: 50px;
  text-align: center;
  overflow: auto;
}

#links ul {
  list-style-type: none;
  margin: 0px;
}

#links li {
  display: inline;
}

#portrait {
  overflow: hidden;
  padding: 20px;
}

#portrait li img {
  float: left;
  padding: 10px 10px 25px 10px;
  margin: 12px;
	background: #fff;
  position: relative;
  box-shadow: 4px 4px 12px #888888;
}

.pic:nth-child(odd){
  -ms-transform:rotate(3deg); 
  -webkit-transform:rotate(3deg);
  transform:rotate(3deg);
  /* transform: scale(0.8); */
}

.pic:nth-child(even){
  -ms-transform:rotate(-3deg); 
  -webkit-transform:rotate(-3deg);
  transform:rotate(-3deg);
  /*transform: scale(0.8);*/
}

/*#portrait li:hover{
 -ms-transform:rotate(0deg); 
  -webkit-transform:rotate(0deg);
  transform:rotate(0deg);
  /*transform: scale(1);
}*/

ul {
  list-style-type: none;
}

#links {
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  /* background-color: #a5c8ad; */
}

#links a {
  text-decoration: none;
  font-size: 5vw;
  opacity: 0.7;
}

#links a:hover {
  transition: .7s ease;
  opacity: 1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.footer {
  display: inline;
}