extends layout

block content
  #info
    //h1.us= title
    p Vi uppmuntrar att Ni bokar boende på STF Skåne Tranås som ligger i direkt anslutning till festlokalen.
    a(target='stf-tab', href='https://www.svenskaturistforeningen.se/anlaggningar/stf-skane-tranas-vandrarhem/') STF Skåne Tranås
    #portrait
        ul.gallery
            li.pic
              img(src="../images/photos/portrait-002.jpg", alt="Portrait")
    #footer
      img.footer(src="../images/decoration/5q-small.png", alt="decoration")
