extends layout

block content
  #info
    //h1.us= title
    p För de som önskar så kan man boka boende på STF Skåne Tranås
    a(target='stf-tab', href='https://www.svenskaturistforeningen.se/anlaggningar/stf-skane-tranas-vandrarhem/') STF SKÅNE TRANÅS
    #portrait
        ul.gallery
            li.pic
              img(src="../images/photos/portrait-002.jpg", alt="Portrait")
    #footer
      img.footer(src="../images/decoration/5q-small.png", alt="decoration")