extends layout

block content
  #info
    h1.us= title
    h1 29 juni 2019
    h2 S:a Maria kyrka, Ystad
    h2 Tran책sg책rden, Sk책ne Tran책s
    #portrait
        ul.gallery
            li.pic
              img(src="../images/photos/portrait-001.jpg", alt="Portrait")
    #footer
      img.footer(src="../images/decoration/5q-small.png", alt="decoration")