extends layout

block content
  #info
    h1.us= title
    h1 29 juni 2019
    p S:a Maria kyrka, Ystad
    p Tran책sg책rden, Sk책ne Tran책s
    #portrait
        ul.gallery
            li.pic
              img(src="../images/photos/portrait-001.jpg", alt="Portrait")
            li.pic
              img(src="../images/photos/portrait-002.jpg", alt="Portrait")
    img(src="../images/decoration/5q-small.png", alt="decoration")