extends layout

block content
  #info
    //h1= title
    p S:a Maria Kyrka
    | <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.817787340376528%2C55.428631926754036%2C13.820292523596438%2C55.429881446096715&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/55.42926/13.81904">Visa större karta</a></small>
    p STF Skåne Tranås
    | <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.992680517258126%2C55.61285502955055%2C13.996124473633248%2C55.61409871235748&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=19/55.61348/13.99440">Visa större karta</a></small>
    p
    img(src="/images/decoration/5q-small.png", alt="decoration")