#links
    ul
        li
            a(href='/') Hem
        li
            a(href='/accomodation') Boende
        li
            a(href='/map') Kartor
        li
            a(href='/registry') Önskelista
        li
            a(href='/other') Övrigt