extends layout

block content
  #info
    p Toastmaster och -madame 채r Martin Larsson och Maja Jensen.

    p Vi ser helst att Ni l채mnar barnen hemma, undantaget barn som ammas.

    p Vi ser fram emot ert svar senast 29 maj, d채r ni 채ven kan meddela eventuella allergier.

    #portrait
        ul.gallery
          li.pic
            img(src="../images/photos/portrait-004.jpg", alt="Portrait")
    #footer
      img.footer(src="../images/decoration/5q-small.png", alt="decoration")
