extends layout

block content
  #info
    //h1.us= title
    p Gåvor är givetvis frivilliga men för att underlätta finns en lista på extern länk. Det är där Ni kan ha användning av lösenordet som står i inbjudan.
    a(target='registry-tab', href='http://kronstal.bjudertillbrollop.se/sv/onskelista') Önskelista
    #portrait
        ul.gallery
          li.pic
            img(src="../images/photos/portrait-003.jpg", alt="Portrait")
    #footer
      img.footer(src="../images/decoration/5q-small.png", alt="decoration")
